{% extends 'base.html' %}

{% block title %}
Apie mus
{% endblock %}

{% block body %}
<div class="container">
    <h1>Apie mus</h1>
    <div class="text">
        <img class=img src="/static/picture/img.jpg" width="1300" height="385">
        <br>
        <br>
        <p>Bfinansai.lt jūsų verslo finansų apskaitos partneriai. Dirbame tam, kad jūsų įmonė veiktų sklandžiai,
            efektyviai ir sistemingai.
            Sau keliame pačius aukščiausius tikslus:</p>

        <li>Aiški ir kokybiška paslauga;</li>
        <li>Betarpiškas ir individualus bendradarbiavimas su klientu;</li>
        <li>Kliento duomenų saugumas ir konfidencialumas;</li>
        <li>Ilgalaikė ir abipusiškai naudinga partnerystė.</li>
        <br>

        <p><B>Esame suinteresuoti jūsų verslo augimu</B></p>

        <a>Siekiame išsiskirti ne kiekybe, bet operatyvumu, atliekamo darbo kokybe, ypatingu asmeniniu dėmesiu klientui.
            Mūsų misija – savo patarimais ir konsultacijomis padėti užaugti naujai į rinką atėjusioms įmonėms. Savo
            klientams visuomet stengiamės tapti stabiliu paslaugų teikėju, tvirtu pagalbininku ir geru draugu finansų
            srityje.</a>
        <br>
        <br>

        <p><B>Kalbame jūsų kalba, atidžiai klausome ir girdime tai, ką sakote</B></p>

        <a>Kiekvienam Bfinansai.lt klientui suteikiame išskirtinį dėmesį, kad tinkamai išsiaiškintume jūsų situaciją ir
            dažniausiai kylančias apskaitos problemas. Jūsų problema – tai mūsų iššūkis. Dažnai klientai ilgai suka
            galvą, bandydami patys susitvarkyti su problema, bet neturi pakankamai priemonių ar galimybių ją išspręsti.
            Mes žinome, kad kiekviena problema turi savo sprendimo būdą, ir tik dirbdami komandoje mes rasime išeitį.
            Bendraujame jums patogia kalba: lietuviškai, angliškai, rusiškai. Jeigu dirbate kitame mieste ar klausimas
            iškilo esant komandiruotėje, susisiekti galime telefonu arba naudojant programas Skype, WhatsApp.</a>
        <br>
        <br>
        <p><B>Dirbame tam, kad padėtume jums, o ne apsunkintume ir taip sudėtingus verslo procesus</B></p>

        <a>Mūsų klientai visą savo dėmesį ir energiją gali sutelkti savo verslo vystymui ir tobulinimui, o visus finansų
            apskaitos klausimus palikti mums. Esame ekspertai savo srityje, todėl buhalterinės apskaitos paslaugos jums
            bus suteiktos kokybiškai. Be to, mes patarsime, jei matysime, kad kai kurias sritis galima koreguoti ir
            tobulinti.</a>
        <br>
        <br>
        <p><B>Nuolat sekame teisės aktų pasikeitimus ir naujienas</B></p>

        <a>Mūsų komandoje dirba partneriai, įgiję ekonomikos, finansų, apskaitos, teisinį išsilavinimą. Dauguma jų turi
            ilgametę darbinę patirtį apskaitos ir teisės srityse. Tai mums leidžia užtikrinti kokybišką ir patikimą
            paslaugų teikimą. Jūsų įmonei nereikės kasdien sekti nuolat kintančių įstatymų ir teisės aktų, nes tai
            darome mes. Esame operatyvūs ir nuolat giliname žinias. Nedelsiant reaguojame į teisės aktų pasikeitimus, iš
            anksto apie juos įspėjame savo klientus ir padedame tam pasiruošti iš anksto, kad visa buhalterija būtų
            tvarkinga.</a>
        <br>
        <br>
        <p><B>Daug dėmesio skiriame jūsų duomenų saugumui ir draudimu</B></p>

        <a>Savo klientų duomenis patikimai saugome VIPhost specializuotame buhalteriniame serveryje. Užtikrinti klientų
            buhalterinių duomenų saugumą leidžia serveryje įdiegtos modernios techninės, programinės ir organizacinės
            priemonės:</a>
        <li>ugniasienė, užkertanti kelią nesankcionuotoms prieigoms prie serverio;</li>
        <li>naudotojų registracija, suteikianti prieigą prie buhalterinių duomenų tik įvedus asmeninius prisijungimo
            duomenis;</li>
        <li>atsarginės kopijos, daromos pagal nustatytą grafiką;</li>
        <li>antivirusinė apsauga, realiu laiku tikrinanti failus dėl virusų grėsmių.</li>
        <a>Mūsų požiūris į savo darbą ir klientus yra rimtas ir profesionalus, todėl, norėdami suteikti dar daugiau
            pasitikėjimo, savo veiklą esame apdraudę civilinės atsakomybės draudimu (profesinių paslaugų užsakovui bei
            tretiesiems asmenims).</a>
        <br>
    </div>
</div>
{% endblock %}