{% extends 'base.html' %}

{% block title %}
Kontaktai
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="custom-page-title">Mūsų kontaktai</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled text-small">
        <i class="fa fa-building"></i><a> Bfinansai, UAB</a></li>
        <br>
        <a> įm. k. 304000434</a></li>
        <br>
        <a> Blindžių g. 17, 08111 Vilnius</a></li>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="tyche-icon-box">
          <div class="icon">
            <span class="fa fa-phone"></span>
          </div>
          <div class="text">
            Susisiekite su mumis <span>+370 686 83858</span>
            <div class="tyche-icon-box">
              <div class="icon">
                <span class="fa fa-envelope"></span>
              </div>
              <div class="text">
                Susisiekite su mumis <span>info@bfinansai.lt</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="tyche-icon-box">
              <div class="icon">
                <span class="fa fa-map-marker"></span>
              </div>
              <div class="text">
                Mūsų adresas: <span>Blindžių g. 17, 08111 Vilnius</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text">
      <div class="container">
        <div class="text structure">
          <h5 class="print_only">Kaip mus rasti ?</h5>
          <p><iframe width="450" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=25.237180888652805%2C54.69631484088297%2C25.241660177707675%2C54.697678884588605&amp;layer=mapnik&amp;marker=54.696996868468204%2C25.239420533180237"
              style="border: 1px solid black"></iframe><br>
            <small><a
                href="https://www.openstreetmap.org/?mlat=54.69700&amp;mlon=25.23942#map=19/54.69700/25.23942&amp;layers=N"
                target="_blank">Žiūrėti didesnį žemėlapį<i></i></a></small>
          </p>
        </div>
      </div>
    </div>
    {% endblock %}