{% extends 'base.html' %}

{% block title %}
Pagrindinis puslapis
{% endblock %}

{% block body %}
<h1></h1>

<div class="container">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <br>
    <h1 class="display-4 fw-normal">BUHALTERINĖS APSKAITOS PASLAUGOS</h1>
    <p class="fs-5 text-muted">Tvarkinga buhalterinė apskaita yra esminė klestinčio verslo detalė. Be jos neįmanoma
      sėkminga įmonės veikla. Apskaitos komanda veda efektyvią ir logišką verslo apskaitą, dėl kurios jūs galite
      išlaikyti sistemingą įmonės darbą, atlikti plačią ir naudingą veiklos rodiklių analizę, matyti problemines vietas
      ir nedelsiant į jas reaguoti.</p>
    <br>
    <img class=img src="/static/picture/img1.jpg" width="1260" height="345">
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Mažoms įmonėms</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Nuo 100 iki 500 Eur<small
                class="text-muted fw-light">/mėn.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1-10 darbuotojų</li>
              <li>iki 100 dokumentų</li>
              <li>Kaina be PVM</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Vidutinėms įmonėms</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Nuo 500 iki 1200 Eur<small
                class="text-muted fw-light">/mėn.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10-50 darbuotojų</li>
              <li>iki 300 dokumentų</li>
              <li>Kaina be PVM</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Individualus kainos pasiūlymas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Individualus paskaičiavimas<small
                class="text-muted fw-light">/mėn.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Individualus kainos pasiūlymas derinamas kartu su klientu.</li>
              <li>Kaino pasiūlymas pateikiamas be PVM</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <h1>Mūsų teikiamos buhalterinės apskaitos paslaugos:</h1>
  <br>
  <li>Finansinė ir mokesčių apskaita;</li>
  <li>Apskaitos politikos parinkimas ir koordinavimas kartu su klientu;</li>
  <li>Pirkimų ir pardavimų sąskaitų faktūrų registravimas;</li>
  <li>Bankinių pavedimų ir kasos dokumentų registravimas;</li>
  <li>Ilgalaikio turto nusidėvėjimo skaičiavimas;</li>
  <li>Sąnaudų ataskaitų rengimas ir registravimas;</li>
  <li>Darbo užmokesčio apskaita;</li>
  <li>Buhalterinės apskaitos registro sudarymas;</li>
  <li>Pelno – nuostolių ataskaitos sudarymas;</li>
  <li>Finansinių ataskaitų rengimas vadovams.</li>
  <br>
  <br>
  <h1>Kuo jums naudinga buhalterinė apskaita, vedama Bfinansai.lt specialistų?</h1><br>
  <li><B>Mes specializuojamės buhalterinės apskaitos tvarkyme</B></li>
  <a>Kasdien susiduriame su kitų įmonių problemomis, kurios gali būti panašios į jūsų. Nuolat gilinamės į buhalterinės
    apskaitos klausimus ir plečiame savo akiratį kasdieniame praktiniame darbe.</a>
  <br>
  <li><B>Buhalterinė apskaita vedama nenutrūkstamai</B></li>
  <a>Buhalterio ligos, atostogos, komandiruotės – visa tai nebepaveiks jūsų verslo, nes kaip komanda mes užtikriname
    nenutrūkstamą darbą.</a>
  <br>
  <li><B>Žvilgsnis iš šalies</B></li>
  <a>Dažnas verslininkas vis labiau ima vertinti šią savybę, kurią suteikia išorinės buhalterinės apskaitos paslaugos.
    Mes jus matome iš kitos perspektyvos, visai kaip jūsų klientai, todėl galime pasiūlyti sprendimus iš šalies, kurie
    jums patiems nėra matomi.</a>
</div>
</main>

{% endblock %}